# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
# Answer here
print(8+12)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [1]:
# Answer here
print(20-7)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [2]:
# Answer here
print(6*9)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [3]:
# Answer here
print(45/9)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [4]:
# Answer here
print(50//6)

8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [5]:
# Answer here
print(29%5)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [6]:
# Answer here
print(3 ** 4)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [8]:
# Answer here
x=5
print(f"value of +x {+x}")
print(f"value of -x {-x}")

value of +x 5
value of -x -5

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [7]:
# Answer here
print(5 + 3 * 2)

print((5 + 3) * 2)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [9]:
# Answer here
a = 15
b = 4
print(f"a + b = {a + b}")
print(f"a - b = {a - b}")
print(f"a * b = {a * b}")
print(f"a / b = {a / b}")
print(f"a // b = {a // b}")
print(f"a % b = {a % b}")
print(f"a ** b = {a ** b}")

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [11]:
# Answer here

n = 10
print("Initial value of n:", n)
n += 5
print("After n += 5:", n)
n *= 2
print("After n *= 2:", n)
n -= 4
print("After n -= 4:", n)

Initial value of n: 10
After n += 5: 15
After n *= 2: 30
After n -= 4: 26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [12]:
# Answer here
x = 3
y = 7
x, y = y, x
print("x after swapping:", x)
print("y after swapping:", y)

x after swapping: 7
y after swapping: 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [13]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
result = num1 + num2
print("Sum:", result)

Enter first number: 3
Enter second number: 8
Sum: 11

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [14]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
average = (a + b + c) / 3
print("Average:", average)

Enter first number: 7
Enter second number: 4
Enter third number: 6
Average: 5.666666666666667

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [15]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radius = float(input("Enter the radius of the circle: "))
circumference = 2 * 3.14159 * radius
area = 3.14159 * radius ** 2
print("Circumference:", circumference)
print("Area:", area)

Enter the radius of the circle: 9
Circumference: 56.54862
Area: 254.46878999999998

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [16]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
total_seconds = int(input("Enter total seconds: "))
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60
print(f"{hours}:{minutes}:{seconds}")

Enter total seconds: 400
0:6:40

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [17]:
# Answer here
principal = float(input("Enter principal amount: "))
rate = float(input("Enter annual interest rate (in %): "))
time = float(input("Enter time in years: "))
interest = (principal * rate * time) / 100
print("Interest:", interest)

Enter principal amount: 1000
Enter annual interest rate (in %): 6
Enter time in years: 2
Interest: 120.0