### Question 1: List (Order and Duplicates)

You are given a list of daily sales amounts:

```python
sales = [1200, 1500, 1200, 1800, 1500]
```

Tasks:
1. Print the total sales
2. Print the highest sale
3. Print how many times `1200` appears

In [7]:
sales = [1200, 1500, 1200, 1800, 1500]

res = sum(sales)
print(res)
m = max(sales)
print(m)
sales.count(1200)

7200
1800

2

### Question 2: Tuple (Fixed Data)

You are given a tuple that stores a student’s basic information:

```python
student = ("Aman", 21, "Delhi")
```

Tasks:
1. Print the student’s name
2. Print the student’s age
3. Try to update the age and observe what happens

In [12]:
# write your code here
student = ("Aman", 21, "Delhi")

print(student[0])
print(student[1])
#student[2]=23  #throw error

Aman
21

### Question 3: Set (Uniqueness)

You are given two lists of students who attended two different workshops:

```python
day1 = ["Rahul", "Aman", "Neha", "Rahul"]
day2 = ["Neha", "Aman", "Sita"]
```

Tasks:
1. Convert both lists into sets
2. Print students who attended both days
3. Print students who attended only Day 1

In [ ]:
# write your code here

day1 = ["Rahul", "Aman", "Neha", "Rahul"]
day2 = ["Neha", "Aman", "Sita"]

set1=set(day1)
set2=set(day2)

ans1= set1 & set2

print(ans1)
ans2 = set1 - set2

print(ans2)

{'Aman', 'Neha'}
{'Rahul'}

### Question 4: Dictionary (Key-Value Mapping)

You are given marks of students in a subject:

```python
marks = {
    "Rahul": 85,
    "Aman": 90,
    "Neha": 78
}
```

Tasks:
1. Print marks of "Aman"
2. Add marks for "Sita" = 88
3. Update "Neha" marks to 80
4. Print all student names and their marks using a loop

In [ ]:
# write your code here
marks = {
    "Rahul": 85,
    "Aman": 90,
    "Neha": 78
}

print(marks["Aman"])

marks["Sita"]=88

print(marks)

90
{'Rahul': 85, 'Aman': 90, 'Neha': 78, 'Sita': 88}

### Question 5: Mixed Data Structures (Real-Life Scenario)

You are given a list of orders:

```python
orders = ["apple", "banana", "apple", "orange", "banana", "apple"]
```

Tasks:
1. Find all unique products
2. Create a dictionary that stores product and its count
3. Print each product and its count

In [ ]:
# write your code here

orders = ["apple", "banana", "apple", "orange", "banana", "apple"]

#  final= set(orders)

# print(final)

result={}

for i in orders:
    if i in result:
        result[i] += + 1
    else:
        result[i]=1

print(result)

{'apple': 3, 'banana': 2, 'orange': 1}