## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [4]:
# write your code here
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [12]:
# write your code here
n = int(input("enter a number"))
sum =0
for i in range(1,n+1):
  sum = sum+i
print(sum)

enter a number5
15

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [13]:
# write your code here
for i in range(1,51):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [15]:
# write your code here
n = int(input("enrer any number"))
count = 0
for i in range(1,n):
  if i % 3 == 0:
    count += 1
print(f"total number bt 1 to n is {count}")

enrer any number30
total number bt 1 to n is 9

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [17]:
# write your code here
n = int(input("enrer any number"))
for i in range(1,11):
  i = i*n
  print(i)

enrer any number2
2
4
6
8
10
12
14
16
18
20

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [20]:
# write your code here
n = int(input("enrer any number"))
fact = 1
for i in range(1,n+1):
  fact *= i
print(fact)

enrer any number5
120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [21]:
# write your code here
n = int(input("enrer any number"))
runing_sum = 0
for i in range(1,n+1):
  runing_sum += i
  print(runing_sum)

enrer any number5
1
3
6
10
15

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [24]:
# write your code here
n = int(input("enrer any number"))
value = 0
for i in range(1,n+1):
  value = i
  value += 5
  print(value)

enrer any number5
6
7
8
9
10

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [29]:
# write your code here
n = int(input("enrer any number"))
even = 0
odd = 0
for i in range(1,n+1):
  if i%2==0:
    even += 1
  else:
    odd += 1
print(f"total even number is {even} and odd number is {odd}")

enrer any number15
total even number is 7 and odd number is 8

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [30]:
# write your code here
n = int(input("enrer any number"))
for i in range(1,n+1):
  i = i*i
  print(i)

enrer any number4
1
4
9
16

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [42]:
# write your code here
n = int(input("enrer any number"))
sum_even = 0
sum_odd = 0
for i in range(1,n+1):
  if i%2==0:
    sum_even += i
  else:
    sum_odd += i
print(f"total sum of even {sum_even} and total sum of  {sum_odd}")

enrer any number754
total sum of even 142506 and total sum of  142129

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [47]:
# write your code here
n = int(input("enter any number "))
count = 0
for i in range(1,n+1):
  if i%3==0 and i%5==0:
    count += 1
print("total count",count)

enter any number 55
total count 3

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [48]:
# write your code here
n = int(input("enter any number "))
for i in range(1,n+1):
  if i%4==0:
    continue
  print(i)

enter any number 9
1
2
3
5
6
7
9

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [52]:
from logging import lastResort
# write your code here
n = int(input("enter any number "))
largest = 1
for i in range(1,n+1):
  if i > largest:
    largest = i
print(largest)

enter any number 76
76

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [56]:
# write your code here
a = int(input("enter base number "))
b = int(input("enter power number "))
result = 1


for i in range(1,b+1):
  result *= a
print(result)

enter base number 5
enter power number 3
125

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [59]:
# write your code here
n = int(input("enter any number "))

prime = True
for i in range(2, n-1):
  if n%i==0:
    prime = False
    break
if prime:
  print(n,"is a prime number")
else:
  print(n,"is not prime number")

enter any number 13
13 is a prime number

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [73]:
# answer here
n = int(input("Enter n: "))

for i in range(2, n+1):
  is_prime = True
  for j in range(2,i):
    if i%j==0:
      is_prime = False
      break
  if is_prime == True:
    print(i)

Enter n: 10
2
3
5
7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [80]:
# write your code here
n = int(input("Enter n: "))
for i in range(1,n+1):
  if i%7==0 and i%11==0:
    print(i)
    break

Enter n: 200
77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [76]:
# write your code here
n = int(input("Enter n: "))

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

Enter n: 3
1
12
123

## Question 20 (Hard)

**Title:** Perfect Number Check

### Problem Statement:
Take a number as input and check whether it is a perfect number or not.

### Approach:
Find sum of all factors using a loop and compare with the number.

In [84]:
# write your code here
n = int(input("Enter n: "))
sum = 0
for i in range(1,n):
  if n%i == 0:
    sum += i
if sum == n:
  print("perfect number")
else:
  print("not perfect number")

Enter n: 7
not perfect number