# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
t = (3,6,2,2,78)
print(t)

(3, 6, 2, 2, 78)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
tup = (34,"rahul",43.4,True)
print(tup)

(34, 'rahul', 43.4, True)

### Question 3
Find the length of a tuple containing names of 4 students.

In [4]:
# write your answer here
t = ("ram","vishal","rahul","shubh")
print(len(t))

4

### Question 4
Access and print the last element of a tuple.

In [7]:
# write your answer here
t = ("ram","vishal","rahul","shubh")
print(t[-1])

shubh

### Question 5
Check whether an element exists in a tuple or not.

In [33]:
# write your answer here
t = (3,6,2,2,78)
el = 2
flag = False
#1st type
if el in t:
  print("exist")
else:
  print("not exist")
#second type
for i in t:
  if el == i:
    flag = True
    break
if flag == True:
  print(" exist")
else:
  print("not exist")

exist
 exist

### Question 6
Convert a tuple into a list.

In [34]:
# write your answer here
t = (3,6,2,2,78)
l1 = list(t)
type(l1)

list

### Question 7
Convert a list into a tuple.

In [35]:
# write your answer here
l = [3,6,2,2,78]
t = tuple(l)
type(t)

tuple

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [36]:
# write your answer here
t = (3,6,8,2,8,5,4,2)
dic = {}

for i in t:
  if i in dic:
    dic[i] += +1
  else:
    dic[i] = 1

print(dic)

{3: 1, 6: 1, 8: 2, 2: 2, 5: 1, 4: 1}

### Question 9
Find the index of an element in a tuple.

In [38]:
# write your answer here
t = (3,6,8,2,8,5,4,2)
if el in t:
  index = t.index(4)
  print("index no",index)
else:
  print("not found")

index no 6

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [39]:
# write your answer here
t = (3,6,8,2,8,5,4,2)
t[1] = 10 #getting error

TypeError: 'tuple' object does not support item assignment

## ðŸŸ© Set Practice Questions

### Question 11
Create a set of 5 unique numbers and print it.

In [43]:
# write your answer here
s = {3,4,5,6,7}
print(s)

{3, 4, 5, 6, 7}

### Question 12
Create a set with duplicate values and observe the output.

In [44]:
# write your answer here
s = {3,4,5,6,7,3,4,7}
print(s)

{3, 4, 5, 6, 7}

### Question 13
Add an element to a set.

In [45]:
# write your answer here
s = {3,4,5,6,7}
s.add(10)
print(s)

{3, 4, 5, 6, 7, 10}

### Question 14
Remove an element from a set.

In [47]:
# write your answer here
s = {3,4,5,6,7}
s.remove(5)
print(s)

{3, 4, 6, 7}

### Question 15
Check whether an element exists in a set.

In [50]:
# write your answer here
s = {3,4,5,6,7}
el = 9
if el in s:
  print("exist")
else:
  print("not exist")

not exist

### Question 16
Find the length of a set.

In [51]:
# write your answer here
s = {3,4,5,6,7}

print(len(s))

5

### Question 17
Convert a list with duplicate values into a set.

In [52]:
# write your answer here
l = [3,4,5,6,7,3,4,7]
s = set(l)
type(s)

set

### Question 18
Convert a set into a list.

In [53]:
# write your answer here
s = {3,4,5,6,7}
l = list(s)
type(l)

list

### Question 19
Find common elements between two sets.

In [57]:

# write your answer here
s1 = {3,4,5,6,7}
s2 = {3,8,5,0,7}
c = s1&s2
print(c)

{3, 5, 7}

### Question 20
Find all unique elements from two sets.

In [58]:
# write your answer here
s1 = {3,4,5,6,7}
s2 = {3,8,5,0,7}
c = s1|s2
print(c)

{0, 3, 4, 5, 6, 7, 8}

# Optional Question
### Problem:
Class A has students: {"Amit", "Neha", "Rahul"}
Class B has students: {"Rahul", "Priya", "Sneha"}

In [ ]:
class_a={"Amit", "Neha", "Rahul"}
class_b={"Rahul", "Priya", "Sneha"}

final_list_of_student=class_a.union(class_b)
print(final_list_of_student)

{'Sneha', 'Amit', 'Priya', 'Rahul', 'Neha'}